.table { height: 200px; }

td { text-align: center; }

td.stones {
    background: #efefef;
}

td.playable {
    cursor: pointer;
}

td.playable:hover {
    background: #ddd;
}

.table tbody>tr>td{
    vertical-align: middle;
}
