.table { height: 200px; }

td { text-align: center; }

.stones {
    fill: #efefef;
}

.playable {
    cursor: pointer;
}

.playable:hover {
    fill: #ddd;
}

.table tbody>tr>td{
    vertical-align: middle;
}
